body,html{
    margin: 0;
    padding: 0;
    background-color: ;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background-image: none;
    background-color: #009688;
    color: #fff;  
}

.com-head{
    color: white;
}
.com-head:hover{
    color: #eee;
    text-decoration: none;
    font-weight: 500;
}
.para::first-letter {
    color: blue;
    font-size: xx-large;
}
.img{
    width: 100%;
}
.bottom {
    font-size: 60%;
}
.hysteresis-loop img{
    width: 50%;
}
@media screen and (max-width: 767px){
    .sub-menu-level-1 {
    margin-left: 4%;
    width: 90%;
    }
}
