<section class="communication">
	<header>
		<div class="panel panel-default">
			<nav class="navbar navbar-default">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#/">Md. Imran Khan Shuvo</a>
			    </div>
			</nav>
		</div>
	</header>
</section>
<div class="error panel panel-primary">
	<span style="padding: 25px;">Sorry! This page isn't ready yet! Don't worry it'll be available within very short time! Go back to <a href="#/">Home</a> page!</span>
	
</div>
