<header>
       <div class="panel panel-default">
                  <nav class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Home</a>
                      </div>
                              <ul class="nav navbar-nav">
                                    <li class="active sub-menu-level-1"><a class="sub-menu-1" href="#electronic-material">Electronic Material</a></li>
                              </ul>
                  </nav>
      </div>
</header>
<div class="panel panel-primary">
<div class="panel-body">
<div id="accordion">
  <h3>What is crystal ?</h3>
  <div>
      <div class="col-md-3 crystal-image image">
          <a href="images/cystal.png"><img src="images/cystal.png" alt=""></a>
      </div>
      <div class="col-md-9">
        <p class="crystal para">
          A  crystal or crystalline solid is a solid material whose constituents, such as atoms, molecules or ions, are arranged in a highly ordered microscopic structure, forming a crystal lattice that extends in all directions. In addition, macroscopic single crystals are usually identifiable by their geometrical shape, consisting of flat faces with specific, characteristic orientations.
        </p> 
      </div>      
  </div>
  <h3>What is crystal imperfection ?</h3>
  <div>
      <div>
        <p class="crystal-defect para">
            Crystal defect or imperfection is the irregular geometrical arrangement of the atoms in a crystalline solid. These imperfections result from deformation of the solid, rapid cooling from high temperature, or high-energy radiation (X-rays or neutrons) striking the solid. Located at single points, along lines, or on whole surfaces in the solid, these defects influence its mechanical, electrical, and optical behaviour. 
            <ul></ul>
        </p> 
      </div>      
  </div>
  <h3>Describe different imperfections/defects that may present in a crystal ?</h3>
  <div>
      <div>
        <p class="crystal-defect para">
          Crystalline solids exhibit a periodic crystal structure. The positions of atoms or molecules occur on repeating fixed distances, determined by the unit cell parameters. However, the arrangement of atoms or molecules in most crystalline materials is not perfect. The regular patterns are interrupted by crystallographic defects.<br><br>
          There are four kinds of defects:-
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">1. Point Defects</div>
            <div class="panel-body">
                <div class="col-md-4"><a href="images/Defecttypes.png"><img class="img" src="images/Defecttypes.png" alt=""></a></div>
                <div class="col-md-8">
                  <p>Point defects are defects that occur only at or around a single lattice point. They are not extended in space in any dimension.</p>
                  Point defect is divided into four parts:- <br><br>
                  <div class="single-point-defect">
                     <h4>a. Vacancy defects</h4>
                     <p>Vacancy defects are lattice sites which would be occupied in a perfect crystal, but are vacant. If a neighboring atom moves to occupy the vacant site, the vacancy moves in the opposite direction to the site which used to be occupied by the moving atom.</p>
                  </div>
                  <div class="single-point-defect">
                     <h4>b. Interstitial defects</h4>
                     <p>Interstitial defects are atoms that occupy a site in the crystal structure at which there is usually not an atom. They are generally high energy configurations. Small atoms in some crystals can occupy interstices without high energy, such as hydrogen in palladium.</p>
                  </div>
                  <div class="single-point-defect">
                     <h4>c. Frenkel defect</h4>
                     <p>A nearby pair of a vacancy and an interstitial is often called a Frenkel defect or Frenkel pair. This is caused when an ion moves into an interstitial site and creates a vacancy.</p>
                  </div>
                  <div class="single-point-defect">
                     <h4>d. Substitutional defect</h4>
                     <p>Impurities occur because materials are never 100% pure. In the case of an impurity, the atom is often incorporated at a regular atomic site in the crystal structure. This is neither a vacant site nor is the atom on an interstitial site and it is called a substitutional defect. The atom is not supposed to be anywhere in the crystal, and is thus an impurity.</p>
                  </div>
                </div>
            </div>
        </div> <!-- end point defect -->
        <div class="panel panel-default">
            <div class="panel-heading">2. Line defects/Dislocations</div>
            <div class="panel-body">
                <div class="col-md-4"><a href="images/dislocation.png"><img class="img" src="images/dislocation.png" alt=""></a></div>
                <figcaption>An edge dislocation is shown. The dislocation line is presented in blue.</figcaption>
                <div class="col-md-8">
                  <p>Dislocations are linear defects around which some of the atoms of the crystal lattice are misaligned. There are two basic types of dislocations, the edge dislocation and the screw dislocation..</p>
                  <div class="single-point-defect">
                     <h4>a. Edge dislocations</h4>
                     <p>Edge dislocations are caused by the termination of a plane of atoms in the middle of a crystal. In such a case, the adjacent planes are not straight, but instead bend around the edge of the terminating plane so that the crystal structure is perfectly ordered on either side. The analogy with a stack of paper is apt: if a half a piece of paper is inserted in a stack of paper, the defect in the stack is only noticeable at the edge of the half sheet.</p>
                  </div>
                  <div class="single-point-defect">
                     <h4>b. Screw dislocation</h4>
                     <p>The screw dislocation is more difficult to visualise, but basically comprises a structure in which a helical path is traced around the linear defect (dislocation line) by the atomic planes of atoms in the crystal lattice.</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">3. Planar defects</div>
            <div class="panel-body">
                <div class="col-md-4"><a href="images/planer.png"><img class="img" src="images/planer.png" alt=""></a></div>
                <div class="col-md-8">
                  <div class="single-point-defect">
                     <h4>a. Grain boundaries</h4>
                     <p>Grain boundaries occur where the crystallographic direction of the lattice abruptly changes. This usually occurs when two crystals begin growing separately and then meet..</p>
                  </div>
                  <div class="single-point-defect">
                     <h4>b. Antiphase boundaries</h4>
                     <p>Antiphase boundaries occur in ordered alloys: in this case, the crystallographic direction remains the same, but each side of the boundary has an opposite phase: For example, if the ordering is usually ABABABAB, an antiphase boundary takes the form of ABABBABA.</p>
                  </div>
                  <div class="single-point-defect">
                     <h4>b. Stacking faults</h4>
                     <p>Stacking faults occur in a number of crystal structures, but the common example is in close-packed structures. Face-centered cubic (fcc) structures differ from hexagonal close packed (hcp) structures only in stacking order: both structures have close packed atomic planes with sixfold symmetry—the atoms form equilateral triangles. When stacking one of these layers on top of another, the atoms are not directly on top of one another—the first two layers are identical for hcp and fcc, and labelled AB. If the third layer is placed so that its atoms are directly above those of the first layer, the stacking will be ABA—this is the hcp structure, and it continues ABABABAB.</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">4. Bulk Defects</div>
            <div class="panel-body">
                <div>
                  <div class="single-point-defect">
                     <p> Bulk defects are voids i.e, small regions where there are no atoms, and which can be thought of as clusters of vacancies. Impurities can cluster together to form small regions of a different phase. These are often called precipitates.</p>
                  </div>
                </div>
            </div>
        </div>
      </div>      
  </div>
  <h3>What are the differences between crystalline and amorphous of a material ?</h3>
  <div>
    <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">Amprphous Solids</th><th class="text-center">Crystalline Solids
                        </th></tr>
                        <tr><td>  Solids that don't have definite geometrical shape..</td><td> They have characteristic geometrical shape.</td></tr>
                        <tr><td>  Amorphous solids don't have particular melting point. They melt      over a wide range of temperature.</td><td> They have sharp melting point.</td></tr>
                        <tr><td> Physical properties of amorphous solids are same in different      direction,i.e. amorphous solids are isotropic</td><td> Physical properties of crystalline solids are  different in different directions. This  phenomenon is known as Anisotropy.</td></tr>
                        <tr><td>  Amorphous solids are unsymmetrical</td><td> When crystalline solids are rotated about an  axis, their appearance does not change. This  shows that thay are symmetrical.</td></tr>
                        <tr><td>  Amorphous solids don't break at fixed cleavage planes.</td><td>Crystalline solids cleavage along particular  direction at fixed cleavage planes.</td></tr>
                  </tbody>
            </table>
  </div>
  <h3>Discuss about the elastic properties of crystal !</h3>
  <div>
     <div class="col-md-4"><a href="images/elastic.png"><img class="img" src="images/elastic.png" alt=""></a></div> 
     <div class="col-md-8">
       <p class="para">
         When a tensile stress is imposed on a metal specimen, an elastic elongation and ac-
          companying strain &#8712;z result in the direction of the applied stress (arbitrarily taken
          to be the z direction), as indicated in Figure. As a result of this elongation, there
          will be constrictions in the lateral (x and y) directions perpendicular to the applied
          stress; from these contractions, the compressive strains &#8712;x and &#8712;y may be determined.
          If the applied stress is uniaxial (only in the z direction), and the material is isotropic,
          then &#8712;x = &#8712;y . A parameter termed Poisson’s ratio n is defined as the ratio of the
          lateral and axial strains, or <br>
          v = -(&#8712;x/&#8712;z) = -(&#8712;y/&#8712;z)  ----------- (1) <br>
          The negative sign is included in the expression so that n will always be positive,
          since &#8712;x and &#8712;z will always be of opposite sign. Theoretically, Poisson’s ratio for
          isotropic materials should be 1/4 ; furthermore, the maximum value for n (or that value
          for which there is no net volume change) is 0.50. For many metals and other alloys,
          values of Poisson’s ratio range between 0.25 and 0.35. 
          For isotropic materials, shear and elastic moduli are related to each other and
          to Poisson’s ratio according to <br>
          E = 2G(1+v) ---------------(2) <br>
          In most metals G is about 0.4E; thus, if the value of one modulus is known, the
          other may be approximated. <br>
          Many materials are elastically anisotropic; that is, the elastic behavior (e.g., the
          magnitude of E) varies with crystallographic direction . For these ma-
          terials the elastic properties are completely characterized only by the specification of several elastic constants, their number depending on characteristics of the crystal
          structure.
       </p>
     </div>
  </div>
  <h3>How x-ray diffraction can be used to determine the crystal structure ?</h3>
  <div>
      <p class="para">
          X-rays are a form of electromagnetic radiation that have high energies and short
          wavelengths—wavelengths on the order of the atomic spacings for solids. When a
          beam of x-rays impinges on a solid material, a portion of this beam will be scattered
          in all directions by the electrons associated with each atom or ion that lies within
          the beam’s path. Let us now examine the necessary conditions for diffraction of
          x-rays by a periodic arrangement of atoms.
      </p>
      <p>
          Consider the two parallel planes of atoms A–A&#39; and B–B&#39; in Figure below, which
          have the same h, k, and l Miller indices and are separated by the interplanar spac-
          ing d<span class="bottom">hkl</span> . Now assume that a parallel, monochromatic, and coherent (in-phase) beam
          of x-rays of wavelength l is incident on these two planes at an angle u . Two rays in
          this beam, labeled 1 and 2, are scattered by atoms P and Q. Constructive interfer-
          ence of the scattered rays 1&#39; and 2&#39; occurs also at an angle u to the planes, if the
          path length difference between 1–P–1&#39; and 2–Q–2&#39; ( i.e.,  &#175;<span class="under">SQ</span> + &#175;<span class="under">QT </span>) is equal to a
          whole number, n, of wavelengths. That is, the condition for diffraction is <br>
          n&lambda; = &#175;SQ + &#175;QT ------------------(1) <br><br>
          <div class="col-md-8 col-md-offset-2">
            <a href="images/x-ray.png"><img class="img" src="images/x-ray.png" alt=""></a>
          </div>
          <div class="col-md-12">
          or, &nbsp;
              n&lambda; = d<span class="bottom">hkl</span> sin&theta; + d <span class="bottom">hkl</span>  sin&theta;
              = 2d<span class="bottom">hkl</span> sin&theta; -----------------(2) <br><br>
              Equation (2) is known as Bragg’s law; also, n is the order of reflection, which
              may be any integer (1, 2, 3, . . . ) consistent with sin u not exceeding unity. Thus, we
              have a simple expression relating the x-ray wavelength and interatomic spacing to
              the angle of the diffracted beam. If Bragg’s law is not satisfied, then the interfer-
              ence will be nonconstructive in nature so as to yield a very low-intensity diffracted
              beam. <br>
              he magnitude of the distance between two adjacent and parallel planes of
              atoms (i.e., the interplanar spacing d<span class="bottom">hkl</span> ) is a function of the Miller indices (h, k,
              and l) as well as the lattice parameter(s). For example, for crystal structures that have
              cubic symmetry, <br> <br>
              d<span class="bottom">hkl</span> = a/&radic;(<span class="bottom">h</span>2 + <span class="bottom">k</span>2 + <span class="bottom">l</span>2) ------------------------ (3) <br>
              in which a is the lattice parameter (unit cell edge length). <br>
              Bragg’s law, Equation (2), is a necessary but not sufficient condition for dif-
              fraction by real crystals. It specifies when diffraction will occur for unit cells hav-
              ing atoms positioned only at cell corners. However, atoms situated at other sites
              (e.g., face and interior unit cell positions as with FCC and BCC) act as extra scat-
              tering centers, which can produce out-of-phase scattering at certain Bragg angles.
              The net result is the absence of some diffracted beams that, according to Equation
              (2), should be present. For example, for the BCC crystal structure, h + k + l must
              be even if diffraction is to occur, whereas for FCC, h, k, and l must all be either odd
              or even.
          </div>
      </p>
  </div>
  <h3>Discuss how crystal planes and directions can be described with some indices ?</h3>
  <div>
    <div class="col-md-4"><a href="images/direction.png"><img class="img" src="images/direction.png" alt=""></a><figcaption>The [100],[110], and [111] directions within a unit cell</figcaption></div>
    <div class="col-md-8">
        <h4>Crystallographic Directions</h4>
        <p class="para">
            A crystallographic direction is defined as a line between two points, or a vector.
            The following steps are utilized in the determination of the three directional indices:
            <ul class="">
                <li>A vector of convenient length is positioned such that it passes through the
                  origin of the coordinate system. Any vector may be translated throughout the
                  crystal lattice without alteration, if parallelism is maintained.</li>
                <li>The length of the vector projection on each of the three axes is determined;
                    these are measured in terms of the unit cell dimensions a, b, and c.</li>
                <li>These three numbers are multiplied or divided by a common factor to reduce
                  them to the smallest integer values.</li>
                <li>The three indices, not separated by commas, are enclosed in square brackets,
                  thus: [uvw]. The u, v, and w integers correspond to the reduced projections
                  along the x, y, and z axes, respectively.</li>
            </ul>
        </p>
    </div>
      <div class="col-md-4"><a href="images/planes.png"><img class="img" src="images/planes.png" alt=""></a><figcaption>Representations of a series each of (a) (001), (b) (110), and (c) (111)
      crystallographic planes.</figcaption></div>
      <div class="col-md-8">
          <h4>Crystallographic Planes</h4>
          <p class="para">
              The orientations of planes for a crystal structure are represented in a similar manner.
              In all but the hexagonal crystal system, crystallographic planes
              are specified by three Miller indices as (hkl). Any two planes parallel to each other are equivalent and have identical indices. The procedure employed in determina-
              tion of the h, k, and l index numbers is as follows:
              <ul>
                  <li>If the plane passes through the selected origin, either another parallel plane
                  must be constructed within the unit cell by an appropriate translation, or a
                  new origin must be established at the corner of another unit cell.</li>
                  <li>At this point the crystallographic plane either intersects or parallels each of
                    the three axes; the length of the planar intercept for each axis is determined
                    in terms of the lattice parameters a, b, and c</li>
                  <li>The reciprocals of these numbers are taken. A plane that parallels an axis
                  may be considered to have an infinite intercept, and, therefore, a zero index</li>
                  <li>If necessary, these three numbers are changed to the set of smallest integers
                    by multiplication or division by a common factor.</li>
                  <li>Finally, the integer indices, not separated by commas, are enclosed within
                    parentheses, thus: (hkl)</li>
              </ul>
          </p>
      </div>
    </div>
  <h3>What is co-ordination number of crystal ?</h3>
  <div>
      <p class="para">
          In  crystallography  the coordination number of a central atom in a molecule or crystal is the number of its near neighbours. In order to determine the coordination number of an atom in a crystal, the crystal structure has first to be determined. This is achieved using X-ray, neutron or electron diffraction.  Once the positions of the atoms within the unit cell of the crystal are known the coordination number of an atom can be determined. In materials science, the bulk coordination number of a given atom in the interior of a crystal lattice is the number of nearest neighbours to a given atom. For an atom at a surface of a crystal, the surface coordination number is always less than the bulk coordination number. The surface coordination number is dependent on the Miller indices of the surface. In a body-centered cubic (BCC) crystal, the bulk coordination number is 8, whereas, for the (100) surface, the surface coordination number is 4.
      </p>
  </div>
  <h3>What is Miller indices ?</h3>
  <div>
    <p class="para">
        Miller indices,  group of three numbers (hkl) that indicates the orientation of a plane or set of parallel planes of atoms in a crystal. If each atom in the crystal is represented by a point and these points are connected by lines, the resulting lattice may be divided into a number of identical blocks, or unit cells; the intersecting edges of one of the unit cells defines a set of crystallographic axes, and the Miller indices are determined by the intersection of the plane with these axes.  For example, a plane parallel to two axes but cutting the third axis at a length equal to one edge of a unit cell has Miller indices of (100), (010), or (001), depending upon the axis cut; and a plane cutting all three axes at lengths equal to the edges of a unit cell has Miller indices of (111).
    </p>
  </div>
  <h3>What is the significance/importance of Miller indices ?</h3>
  <div class="">
      <p class="para">
          <ul>
              <li>Using reciprocals spares us the complication of infinite intercepts.</li>
              <li>A plane passing through the origin is defined in terms of a 
                parallel plane having non zero intercepts</li>
              <li>All equally spaced parallel planes have same ‘Miller 
               indices’ i.e. The Miller indices do not only define a particular 
               plane but also a set of parallel planes. Thus the planes 
               whose intercepts are 1, 1,1; 2,2,2; -3,-3,-3 etc., are all 
               represented by the same set of Miller indices.</li>
               <li>It is only the ratio of the indices which is important in this  
              notation. The (6 2 2) planes are the same as (3 1 1) planes</li>
              <li> If a plane cuts an axis on the negative side of the origin, 
               corresponding  index is negative. It is represented by a bar, 
               like  (1 0 0). i.e. Miller indices (1 0 0) indicates that the  
               plane  has an intercept in the –ve X –axis.</li>
          </ul>
      </p>
  </div>
  <h3>Discuss about the rules which govern the crystal structures in ionic solid ?</h3>
  <div>
      <p class="para">
          The rules that govern the crystal structures of ionic solids are given below:
          <ul>
              <li>The non-directional ionic bond favours closest possible packing consistent with geometrical considerations</li>
              <li>If anion and cation can not touch one another in a given arrangement, it is generally not stable.</li>
              <li>The radius ratio of the ions commonly determines the most likely crystal structure.</li>
          </ul>
      </p>
  </div>
  <h3>How crystals can be classified according to atomic bonding ?</h3>
  <div class="crystal-bonding">
       Solids may be distinguished and classified in four different bond type, each representing different type of force between their constituent units in the crystal lattice:
       <div class="ionic-solids">
          <h3>1. Ionic Solids</h3>
          <p>Properties:
              <ul>
                  <li><strong>Bonding force</strong>: Ionic</li>
                  <li><strong>Units that occypy lattice sites</strong>: Ions</li>
                  <li><strong>Hardness</strong>: Quite hard and brittle</li>
                  <li><strong>Brittleness</strong>: Very high</li>
                  <li><strong>Melting point</strong>: Relatively high</li>
                  <li><strong>Electrical conductivity</strong>: Very low (high in molten state).</li>
                  <li><strong>Examples</strong>: NaCl, CaO</li>
              </ul>
          </p>
          <img src="images/ionic.png" alt="">
          <figcaption>figure: Ionic solid</figcaption>
       </div>
       <div class="metallic-solids">

          <h3>2. Metallic Solids</h3>
          <p>Properties:
              <ul>
                  <li><strong>Bonding force</strong>: Electrostatic attraction between +ve ions and sea of electrons.</li>
                  <li><strong>Units that occypy lattice sites</strong>: Positive ions in electron gas.</li>
                  <li><strong>Hardness</strong>: Variable.</li>
                  <li><strong>Brittleness</strong>: Very low.</li>
                  <li><strong>Melting point</strong>: Variable.</li>
                  <li><strong>Electrical conductivity</strong>: Very high.</li>
                  <li><strong>Examples</strong>: Fe, Ag, Cu</li>
              </ul>
          </p>
          <img src="images/metalic.jpeg" alt="">
          <figcaption>figure: Metallic solid</figcaption>
       </div>
       <div class="covalent-solids">
          <h3>3. Covalent Solids</h3>
          <p>Properties:
              <ul>
                  <li><strong>Bonding force</strong>: Sharing of electron pairs.</li>
                  <li><strong>Units that occypy lattice sites</strong>: Atoms</li>
                  <li><strong>Hardness</strong>: Very hard</li>
                  <li><strong>Brittlenes</strong>s: Medium</li>
                  <li><strong>Melting point</strong>: Very high</li>
                  <li><strong>Electrical conductivity</strong>: Very low .</li>
                  <li><strong>Examples</strong>: Diamond, SiC</li>
              </ul>
          </p>
          <img src="images/covalent.gif" alt="">
          <figcaption>figure: Covalent solid</figcaption>
       </div>
       <div class="molecular-solids">
          <h3>4. Molecular Solids</h3>
          <p>Properties:
              <ul>
                  <li><strong>Bonding force</strong>: Molecular interation forces.</li>
                  <li><strong>Units that occypy lattice sites</strong>: Molecules.</li>
                  <li><strong>Hardness</strong>: Very soft.</li>
                  <li><strong>Brittleness</strong>: Low</li>
                  <li><strong>Melting point</strong>: Very low</li>
                  <li><strong>Electrical conductivity</strong>: Very low .</li>
                  <li><strong>Examples</strong>: Ice, Fullerene</li>
              </ul>
          </p>
          <img src="images/molecule.jpg" alt="" style="width: 30%;">
          <figcaption>figure: Molecular solid</figcaption>
       </div>
  </div>



</div>
</div>
</div>
<script type="text/javascript">
      $('#accordion').accordion({
             collapsible: true,
              heightStyle: "content",
              icons: null,
              active: false
      });
</script>
