<header>
       <div class="panel panel-default">
                  <nav class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Home</a>
                      </div>
                              <ul class="nav navbar-nav">
                                    <li class="active sub-menu-level-1"><a  class="sub-menu-1" href="#data-communication">Data Communication</a></li>
                              </ul>
              
                  </nav>
      </div>
</header>
<div class="panel panel-primary">
<div class="panel-body">
<div id="accordion">
  <h3>PCM vs Delta Modulation</h3>
  <div>
            <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">PCM</th><th class="text-center">Delta Modulation
                        </th></tr>
                        <tr><td> a pulse code modulation technique in which the amplitude of an analog signal is converted to a binary value represented as a series of pulses.</td><td> A Delta modulation (DM or Δ-modulation) is an analog-to-digital and digital-to-analog signal conversion technique used for transmission of voice information where quality is not of primary importance.</td></tr>
                        <tr><td> It can use 4.8 or 16 bits per sample</td><td> It usees only one bit for one sample.</td></tr>
                        <tr><td>The number of levels (step size)depend of number of bits.</td><td> 
                        Step size is fixed and can not be varied.</td></tr>
                        <tr><td>Highest bandwidth is required since number of bits are high.</td><td> 
                       Lowest badwidth required.</td></tr>
                       <tr><td>There is no feedback in transmitter and receiver.</td><td> 
                       Feedback exists in transmitter.</td></tr>
                       <tr><td>System is complex.</td><td> 
                       Simple system.</td></tr>
                       <tr><td>SNR is good.</td><td> 
                       SNR is poor.</td></tr>
                       <tr><td>Applicatios: Audio and video telephony.</td><td> 
                       Applications: Speech and images.</td></tr>
                  </tbody>
            </table>
      </div>
  <h3>Synchronous vs Asynchronous</h3>
  <div>
            <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">Synchronous</th><th class="text-center">Asynchronous
                        </th></tr>
                        <tr><td> needs clock signal between the sender and the receiver.</td><td> does not need clock signal between the sender and the receiver.</td></tr>
                        <tr><td> supports high data transfer rate</td><td> slower data transfer rate.</td></tr>
                        <tr><td>sender and receiver use the same clock signal</td><td> sender provides a synchronization signal to the receiver before starting the transfer of each message
                        .</td></tr>
                  </tbody>
            </table>
      </div>
  <h3>OSI vs TCP/IP</h3>
  <div >
            <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">OSI(Open System Interconnection)</th><th class="text-center">TCP/IP(Transmission Control Protocol / Internet Protocol)
                        </th></tr>
                        <tr><td> OSI provides layer functioning and also defines functions of all the layers.</td><td>. TCP/IP model is more based on protocols and protocols are not flexible with other layers.</td></tr>
                        <tr><td> In OSI model the transport layer guarantees the delivery of packets</td><td> In TCP/IP model the transport layer does not guarantees delivery of packets.</td></tr>
                        <tr><td> Follows horizontal approach</td><td> Follows vertical approach.</td></tr>
                        <tr><td> OSI model has a separate presentation layer</td><td> TCP/IP does not have a separate presentation layer</td></tr>
                        <tr><td> OSI is a general model.</td><td> TCP/IP model cannot be used in any other application.</td></tr>
                        <tr><td> Network layer of OSI model provide both connection oriented and connectionless service. </td><td> The Network layer in TCP/IP model provides connectionless service.</td></tr>
                        <tr><td> OSI model has a problem of fitting the protocols in the model</td><td> TCP/IP model does not fit any protocol</td></tr>
                        <tr><td> Protocols are hidden in OSI model and are easily replaced as the technology changes. </td><td> In TCP/IP replacing protocol is not easy.</td></tr>
                        <tr><td> OSI model defines services, interfaces and protocols very clearly and makes clear distinction between them. </td><td> In TCP/IP it is not clearly separated its services, interfaces and protocols.</td></tr>
                        <tr><td> It has 7 layers</td><td> It has 4 layers</td></tr>
                  </tbody>
            </table>
      </div>
  <h3>TDM vs FDM</h3>
  <div >
            <table class="table table-bordered table-striped" style="margin-top: 20px">
                  <tbody>
                  <tr><th class="text-center">TDM</th><th class="text-center">FDM
                  </th></tr>
                  <tr>
                    <td> Stands for Time Division Multiplexing.</td>
                    <td> Stands for Frequency Division Multiplexing.</td>
                  </tr>
                  <tr>
                    <td> TDM divides a channel by allocating a time period for each channel.</td>
                    <td> FDM divides the channel into multiple, but smaller frequency ranges.</td>
                  </tr>
                  <tr>
                    <td>TDM provides much better flexibility</td>
                    <td> Less flexibility than TDM.</td>
                  </tr>
                  <tr>
                    <td> Less latency than TDM.</td>
                    <td> FDM proves much better latency.</td>
                  </tr>
                  </tbody>
            </table>
      </div>
  <h3>PSK vs FSK</h3>
  <div>
            <table class="table table-bordered table-striped" style="margin-top: 20px">
                  <tbody>
                  <tr><th class="text-center">PSK</th><th class="text-center">FSK
                  </th></tr>
                  <tr>
                    <td> Stands for Phasse shift Keying.</td>
                    <td> Stands for Frequency Shift Keying.</td>
                  </tr>
                  <tr>
                    <td> Phase of the carrier signal is varied to represent two or more different signal elements.</td>
                    <td> Frequency of the carrier signal is varied to represent data.</td>
                  </tr>
                  <tr>
                    <td> Peak amplitude and frequency remain constant.</td>
                    <td> Amplitude and phase remain constant.</td>
                  </tr>
                  <tr>
                    <td> Require lesser bandwidth than FSK.</td>
                    <td> BFSK requires twice the bandwidth of BPSK.</td>
                  </tr>
                  <tr>
                    <td> Applications: WLAN etc.</td>
                    <td>Applications: over voice lines, in high frequency radio transmission etc.</td>
                  </tr>
                  </tbody>
            </table>
      </div>
      <h3>Analogue transmission vs Digital transmission</h3>
      <div>
      <table class="table table-bordered">
      <tbody>
      <tr>
      <th class="text-center">Feature
      </th>
      <th class="text-center">
      Analog Characteristics
      </th>
      <th class="text-center">
      Digital Characteristics
      </th>
      </tr>
      <tr >
      <td >
      Signal
      </td>
      <td >
      Continuously variable, in both amplitude and frequency
      </td>
      <td >
      Discrete signal, represented as either changes in voltage or changes in light
      levels
      </td>
      </tr>
      <tr >
      <td >
      Traffic measurement
      </td>
      <td >
      Hz (for example, a telephone channel is 4KHz)
      </td>
      <td >
      Bits per second (for example, a T-1 line carries 1.544Mbps, and an E-1 line
      transports 2.048Mbps)
      </td>
      </tr>
      <tr >
      <td >
      Bandwidth
      </td>
      <td >
      Low bandwidth (4KHz), which means low data transmission rates (up to
      33.6Kbps) because of limited channel bandwidth
      </td>
      <td >
      High bandwidth that can support high-speed data and emerging applications
      that involve video and multimedia
      </td>
      </tr>
      <tr >
      <td >
      Network capacity
      </td>
      <td >
      Low; one conversation per telephone channel
      </td>
      <td >
      High; multiplexers enable multiple conversations to share a communications
      channel and hence to achieve greater transmission efficiencies
      </td>
      </tr>
      <tr >
      <td >
      Network manageability
      </td>
      <td >
      Poor; a lot of labor is needed for network maintenance and control because
      dumb analog devices do not provide management information streams that allow the
      device to be remotely managed
      </td>
      <td >
      Good; smart devices produce alerts, alarms, traffic statistics, and
      performance measurements, and technicians at a network control center (NCC) or
      network operations center (NOC) can remotely monitor and manage the various
      network elements
      </td>
      </tr>
      <tr >
      <td>
      Power requirement
      </td>
      <td >
      High because the signal contains a wide range of frequencies and
      amplitudes
      </td>
      <td >
      Low because only two discrete signals&mdash;the one and the zero&mdash;need to
      be transmitted
      </td>
      </tr>
      <tr >
      <td >
      Security
      </td>
      <td >
      Poor; when you tap into an analog circuit, you hear the voice stream in its
      native form, and it is difficult to detect an intrusion
      </td>
      <td >
      Good; encryption can be used
      </td>
      </tr>
      <tr >
      <td >
      Error rates
      </td>
      <td >
      High; 10<sup>&ndash;5</sup> bits (that is, 1 in 100,000 bits) is guaranteed to
      have an error
      </td>
      <td >
      Low; with twisted-pair, 10<sup>&ndash;7 </sup>(that, is 1 in 10 million bits
      per second) will have an error, with satellite, 10<sup>&ndash;9</sup> (that is, 1
      in 1 billion per second) will have an error, and with fiber,
      10<sup>&ndash;11</sup> (that is only 1 in 10 trillion bits per second) will have
      an error
      </td>
      </tr>
      </tbody>
      </table>
      </div>
</div>
</div>
</div>
<script type="text/javascript">
      $('#accordion').accordion({
             collapsible: true,
              heightStyle: "content",
              icons: null,
              active: false
      });
</script>
