<header>
       <div class="panel panel-default">
                  <nav class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Home</a>
                      </div>
                              <ul class="nav navbar-nav">
                                    <li class="active sub-menu-level-1"><a class="sub-menu-1" href="##electromagnetic-fields-waves">EMFW</a></li>
                              </ul>
                  </nav>
      </div>
</header>
<div class="panel panel-primary">
  <div class="panel-body">
    <div id="accordion">
      <h3>What do you mean by ferromagnetic material and hysteresis ?</h3>
      <div class="">
          <h3>Ferromagnetic Material</h3>
          <p class="para">
        Ferromagnetic materials are those that contain unpaired electrons, each with a small magnetic field of its own, that align readily with each other in response to an external magnetic field. Example , iron.</p>
        <h3>Hysteresis</h3>
        <p class="para">When an external magnetic field is applied to a ferromagnet such as iron, the atomic dipoles align themselves with it. This alignment tends to persists even after the magnetic field is removed; this phenomenon is called hysteresis.</p>
      </div>
      <h3>What do you mean by inductance ?</h3>
      <div>
          <p class="para">In electromagnetism and electronics, inductance is the property of a conductor by which a change in current flowing through it induces (creates) a voltage (electromotive force) in both the conductor itself (self-inductance) and in any nearby conductors (mutual inductance). <br>It is customary to use the symbol L for inductance. In the SI system the measurement unit for inductance is the henry (symbol: H).</p>
      </div>
      <h3>What do you mean by permitivity and permeability ?</h3>
      <div>
          <h3>Permitivity</h3>
          <p class="para">A measure of the ability of a material to interact with an electric field and become polarized by the field, so that the field within the material is weaker than the field in the absence of the material. The permittivity of a material is the product of the dielectric constant of the material and the permittivity of a perfect vacuum, which is defined to be about 8.854 × 10−12 farad per meter.</p>
          <h3>Permeability</h3>
          <p class="para">In electromagnetism, permeability is the measure of the ability of a material to support the formation of a magnetic field within itself. Hence, it is the degree of magnetization that a material obtains in response to an applied magnetic field.</p>
      </div>
      <h3>What is the difference between electric flux and magnetic flux ?</h3>
      <div>
          <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">Electric Flux</th><th class="text-center">Magnetic Flux</th></tr>
                        <tr><td>It is generally linked with any surface is defined as the total number of electric field lines that pass through that surface.</td><td>The magnetic lines of force passing normally through a surface is defined as magnetic flux.</td></tr>
                        <tr><td>The total electric flux through a surface in an electric field may be the surface integarl of the electric field over that surface.</td><td> The number of magnetic lines of force passing normally through a unit area of asubstance is defined as the magnetic flux density.</td></tr>
                        <tr><td>Electric flux is a scalar quantity.</td><td>Magnetic flux is a vector quantity.</td></tr>
                  </tbody>
          </table>
      </div>
      <h3>What is magnetic field ?</h3>
      <div>
         <p class="para">
            Magnetic field is a region around a magnetic material or a moving electric charge within which the force of magnetism acts. A magnetic field is generated when electric charge carriers such as electrons move through space or within an electrical conductor. It can be symbolized by either <b>B</b>(T) or <b>H</b>(A/m).
         </p>
      </div>
      <h3>What is static electric field ?</h3>
      <div>
         <p class="para">
              The term static refers to a situation where the fields do not vary with time. A static electric field (also referred to as electrostatic field) is created by charges that are fixed in space. In other words, The field surround an static electric charge is known as Static Electric Field.
         </p>
      </div>
      <h3>What is magnetization ?</h3>
      <div><p class="para">
          In classical electromagnetism, magnetization or magnetic polarization is the vector field that expresses the density of permanent or induced magnetic dipole moments in a magnetic material. The magnetization field or <b>M</b>-field can be defined according to the following equation: <br><br>
          <a href="images/magnetization.png"><img src="images/magnetization.png" alt=""></a><br><br>
          Where d<b>m</b> is the elementary magnetic moment and dV is the volume element;
      </p></div>
      <h3>What is electric and magnetic flux density ?</h3>
      <div>
          <h3>Electric flux density:</h3>
          <p class="para">Electric flux density is the  measure of the intensity of an electric field generated by a free electric charge, corresponding to the number of electric field lines passing through a given area. Also called electric displacement. The electric displacement field <b>D</b> is defined as <br><br>
          <a href="images/flux_density.png"><img src="images/flux_density.png" alt=""></a> <br><br>
          where &epsilon;<span class="bottom">0</span> is the vacuum permittivity (also called permittivity of free space), and P is the (macroscopic) density of the permanent and induced electric dipole moments in the material, called the polarization density.</p>
          <br><br>
          <h3>Magnetic flux density:</h3>
          <p class="para">
             Magentic flux denisty is  a measure of the strength of a magnetic field at a given point, expressed by the force per unit length on a conductor carrying unit current at that point. <br>
             Symbol: <b>B</b>. Also called magnetic induction.
          </p>
      </div>
      <h3>Differentiate between vector and scalar magnetic potential ?</h3>
      <div class="">
          <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">Vector Potential</th><th class="text-center">Scalar Potential</th></tr>
                        <tr><td>Magnetic vector potential, <b>A</b>, is defined such that the curl of <b>A</b> is the magnetic field <b>B</b>. </td><td>The magnetic scalar potential ψ is sometimes used to specify the magnetic <b>H</b>-field in cases when there are no free currents.</td></tr>
                        <tr><td>Together with the electric potential, the magnetic vector potential can be used to specify the electric field, <b>E</b></td><td>One important use of ψ is to determine the magnetic field due to permanent magnets when their magnetization is known. </td></tr>
                        <tr><td>The magnetic vector potential <b>A</b> is a vector field defined along with the electric potential ϕ (a scalar field) by the equations: <br>
                        <a href="images/vector_potential.png"><img class="img-smaller vector_potential" src="images/vector_potential.png" alt=""></a><br>
                        where <b>B</b> is the magnetic field and <b>E</b> is the electric field.</td>
                        <td>In a simply connected domain where there is no free current, <br>
                        <a href="images/scalar_1.png"><img class="img-smaller" src="images/scalar_1.png" alt=""></a> <br>hence we can define a magnetic scalar potential, ψ, as <br>
                        <a href="images/scalar_2.png"><img class="img-smaller" src="images/scalr_2.png" alt=""></a></td></tr>
                        <tr><td>It's SI unit is weber per meter (Wb/m).</td>
                        <td>It's SI unit is amperes (A).</td></tr>
                  </tbody>
          </table>
      </div>
      <h3>What is good conductor ?</h3>
      <div>
        <p class="para">Good conductors are materials whose electrons are not tightly bound together but loosely, making it easier for the electricity to travel freely through them .</p>
        <p style="color: blue; font-size: 20px;">Both Mr. Sadiku and Mr. Cheng provided finer answer for this one! See the books! <span style="color:red">I have mistakenly put it here!</span></p>
      </div>
      <h3>What is curl and divergence operation ?</h3>
      <div class="">
        <a href="images/del.png"><img class="img-smaller" src="images/del.png" alt=""></a>
        <h3>Divergence</h3>
         <a href="images/divergence.png"><img class="img-smaller" src="images/divergence.png" alt=""></a>
         <h3>Curl</h3>
         <a href="images/curl_vector.png"><img class="img-smaller" src="images/curl_vector.png"  alt=""></a> <br><br><br>

      </div>
      <h3>Describe magnetic energy ?</h3>
      <div>
          <p class="para">
            The potential energy of a magnet of magnetic moment <b>m</b> in a magnetic field <b>B</b> is defined as the work of magnetic force (actually of magnetic torque) on re-alignment of the vector of the magnetic dipole moment, and is equal: <br><br>
            <img src="images/magnetic_energy_1.png" alt=""><br><br>
            while the energy stored in an inductor (of inductance <em>L</em>) when current <em>I</em> is passing via it is <br>
            <img src="images/magnetic_energy_2.png" alt=""> <br>
            Energy is also stored in a magnetic field. The energy per unit volume in a region of space of permeability <em>μ</em> containing magnetic field <b>B</b> is: <br><br>  
            <img src="images/magentic_energy_3.png" alt="">
          </p>
      </div>
      <h3>What is Magnetic force ?</h3>
      <div>
          <p class="para">
              The force that exists between two moving, electrically charged particles, causing them to attract or repel one another.
              <img class="col-md-2" src="images/magnetic_force.jpg" alt="">
              From this point of view, the magnetic force <b>F</b> on the second particle is proportional to its charge q<span class="bottom">2</span>, the magnitude of its velocity v<span class="bottom">2</span>, the magnitude of the magnetic field B<span class="bottom">1</span> produced by the first moving charge, and the sine of the angle theta, θ, between the path of the second particle and the direction of the magnetic field; that is, <b>F</b> = q<span class="bottom">2</span><b>B</b><span class="bottom">1</span>v<span class="bottom">2</span> sin θ. The force is zero if the second charge is travelling in the direction of the magnetic field and is greatest if it travels at right angles to the magnetic field.
          </p>
      </div>
      <h3>What is magnetic field intensity ?</h3>
      <div>
          <p class="para">
            Magnetic field intensity is the phenomena that  is used to characterize the strength of external field i.e. the magnetic field due to the external sources (electric current) only, excluding the contribution due to material’s internal magnetic field. <b>H</b> is related to <b>B</b>  through permeability μ as <b>B</b> = μ<b>H</b>. <br><br>
            <b>H</b> is related to <b>M</b> as, <b>B</b> = μ<span class="bottom">0</span>(<b>H</b> + <b>M</b>), where <b>M</b> is the Magnetization.
          </p>
      </div>
      <h3>Write some applications for Ampere's law.</h3>
      <div>
          <p class="para">Applications of Ampere's law includes: <br>
          <ul class="">
              <li>
                Calculating <b>H</b> for :
                  <ul>
                    <li>Infinite line of current</li>
                    <li>Infinite sheet of current</li>
                    <li>Infinitely long coaxial transmission line</li>
                  </ul>
              </li>
          </ul>
          </p>
      </div>
      <h3>Write the energy term of <b>E</b> field .</h3>
      <div>
          <p class="para">The potential energy which a collection of electric charges possesses by virtue of their positions relative to each other.The electrostatic energy per unit volume: <br>
          <img src="images/energy_in_e.png" alt=""> <br>
          The total energy U stored in the electric field in a given volume V is therefore: <br>
          <img src="images/energy_total_in_e.png" alt="">
           </p>
      </div>
      <h3>Write some applications of gauss's law</h3>
      <div class="">
          <ul>
            <li>Coulumb's law can be derived from Gauss's law.</li>
            <li>It can explain symmetric charge distribution.</li>
            <li>It can explain Thompsons atom model.</li>
            <li>Gauss' law is a powerful tool for the calculation of electric fields when they originate from charge distributions of sufficient symmetry to apply it.</li>
          </ul>
      </div>
      <h3>What is the differences between Conductor and dielectric of static electric field ?</h3>
      <div>
          <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">Conductor</th><th class="text-center">Dielectric/Insulator
                        </th></tr>
                        <tr><td>  The substances having free charge carriers are called the conductors.</td><td> The substances having no free charge carriers are called the insulators or dielectrics.</td></tr>
                        <tr><td> Electric current flow through the conductors .</td><td> An insulator is a material that resists the flow of electric current.</td></tr>
                        <tr><td> Most familiar conductors are metallic. </td><td> An insulating material has atoms with tightly bonded valence electrons.</td></tr>
                        <tr><td>  The examples of conductors are metallic substances e.g. copper, silver, gold, aluminum, iron, mercury etc.</td>
                        <td>   The examples of insulators are glass, plastic, mica wood, cotton etc.</td></tr>
                  </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
      $('#accordion').accordion({
             collapsible: true,
              heightStyle: "content",
              icons: null,
              active: false
      });
</script>