<header>
       <div class="panel panel-default">
                  <nav class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Home</a>
                      </div>
                              <ul class="nav navbar-nav">
                                    <li class="active sub-menu-level-1"><a class="sub-menu-1" href="##electromagnetic-fields-waves">EMFW</a></li>
                              </ul>
                  </nav>
      </div>
</header>
<div class="panel panel-primary">
  <div class="panel-body">
    <div id="accordion">
      <h3>Write some applications of gauss's law</h3>
      <div class="">
          <ul>
            <li>Coulumb's law can be derived from Gauss's law.</li>
            <li>Gauss' law is a powerful tool for the calculation of electric fields when they originate from charge distributions of sufficient symmetry to apply it.</li>
          </ul>
      </div>
      <h3>What is the differences between Conductor and dielectric of static electric field ?</h3>
      <div>
          <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">Conductor</th><th class="text-center">Dielectric/Insulator
                        </th></tr>
                        <tr><td>  The substances having free charge carriers are called the conductors.</td><td> The substances having no free charge carriers are called the insulators or dielectrics.</td></tr>
                        <tr><td> Electric current flow through the conductors .</td><td> An insulator is a material that resists the flow of electric current.</td></tr>
                        <tr><td> Most familiar conductors are metallic. </td><td> An insulating material has atoms with tightly bonded valence electrons.</td></tr>
                        <tr><td>  The examples of conductors are metallic substances e.g. copper, silver, gold, aluminum, iron, mercury etc.</td>
                        <td>   The examples of insulators are glass, plastic, mica wood, cotton etc.</td></tr>
                  </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
      $('#accordion').accordion({
             collapsible: true,
              heightStyle: "content",
              icons: null,
              active: false
      });
</script>