<section class="home ">
	<header class="">
		<div class="panel panel-default">
			<nav class="navbar navbar-default">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#/">Md. Iman Khan Shuvo</a>
			    </div>
			</nav>
		</div>
	</header>
</section>
<section class="row">
		<div class="main-body col-md-10 col-md-offset-1">
			<div class="sub-nav">
				<div class="panel panel-primary">
					<div class="panel-heading">Choose from below</div>
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
						<li class="single-menu"><a href="#electromagnetic-fields-waves">Electromagnetic Field and Waves</a></li>
						<li class="single-menu"><a href="#numerical-analysis">Numerical Analysis</a></li>
						<li class="single-menu"><a href="#data-communication">Data Communication</a></li>
						<li class="single-menu"><a href="#microprocessor-assembly">Microprocessor & Assembly Language</a></li>
						<li class="single-menu"><a href="#electronic-material">Electronic Material</a></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
</section>