<header>
       <div class="panel panel-default">
                  <nav class="navbar navbar-default">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Home</a>
                      </div>
                              <ul class="nav navbar-nav">
                                    <li class="active sub-menu-level-1"><a  class="sub-menu-1" href="#data-communication">Microprocessor</a></li>
                              </ul>
              
                  </nav>
      </div>
</header>
<div class="panel panel-primary">
<div class="panel-body">
<div id="accordion">
  <h3>What are the functions of MMU and DMA of a microprocessor ?</h3>
  <div>
      <h4>MMU:</h4>
      <p class="para">A memory management unit (MMU), sometimes called paged memory management unit (PMMU), is a computer hardware unit having all memory references passed through itself, primarily performs the translation of virtual memory addresses to physical addresses. It is usually implemented as part of the central processing unit (CPU), but it also can be in the form of a separate integrated circuit. <br> An MMU is effectively performs the virtual memory management, handling at the same time memory protection, cache control, bus arbitration and, in simpler computer architectures (especially 8-bit systems), bank switching.</p>
      <h4>DMA:</h4>
      <p class="para">Direct memory access (DMA) is a feature of computerized systems that allows certain hardware subsystems to access main system memory independently of the central processing unit (CPU). <br>  With DMA, the CPU first initiates the transfer, then it does other operations while the transfer is in progress, and it finally receives an interrupt from the DMA controller when the operation is done. <br> DMA can also be used for "memory to memory" copying or moving of data within memory. DMA can offload expensive memory operations, such as large copies or scatter-gather operations, from the CPU to a dedicated DMA engine. </p>
  </div>
  <h3>What is a barrel shifter ? What can it do ?</h3>
  <div>
      <h4>Barrel Shifter:</h4>
      <p class="para">A barrel shifter is a digital circuit that can shift a data word by a specified number of bits in one clock cycle.</p>
      <h4>Uses:</h4>
      <p class="para">A common usage of a barrel shifter is in the hardware implementation of floating-point arithmetic. For a floating-point add or subtract operation, the significands of the two numbers must be aligned, which requires shifting the smaller number to the right, increasing its exponent, until it matches the exponent of the larger number. This is done by subtracting the exponents, and using the barrel shifter to shift the smaller number to the right by the difference, in one cycle. If a simple shifter were used, shifting by n bit positions would require n clock cycles.</p>
  </div>
  <h3>Advantages of third generation microprocessor</h3>
  <div>
      <ul>
        <li> Higher clock speed</li>
        <li> Use less power</li>
        <li> Have a more powerful graphics chip built in</li>
        <li> Manufactured on a smaller scale etc.</li>
      </ul>
  </div>
  <h3>PCM vs Delta Modulation</h3>
  <div>
            <table class="table table-bordered table-striped">
                  <tbody>
                        <tr><th class="text-center">PCM</th><th class="text-center">Delta Modulation
                        </th></tr>
                        <tr><td> a pulse code modulation technique in which the amplitude of an analog signal is converted to a binary value represented as a series of pulses.</td><td> A Delta modulation (DM or Δ-modulation) is an analog-to-digital and digital-to-analog signal conversion technique used for transmission of voice information where quality is not of primary importance.</td></tr>
                        <tr><td> It can use 4.8 or 16 bits per sample</td><td> It usees only one bit for one sample.</td></tr>
                        <tr><td>The number of levels (step size)depend of number of bits.</td><td> 
                        Step size is fixed and can not be varied.</td></tr>
                        <tr><td>Highest bandwidth is required since number of bits are high.</td><td> 
                       Lowest badwidth required.</td></tr>
                       <tr><td>There is no feedback in transmitter and receiver.</td><td> 
                       Feedback exists in transmitter.</td></tr>
                       <tr><td>System is complex.</td><td> 
                       Simple system.</td></tr>
                       <tr><td>SNR is good.</td><td> 
                       SNR is poor.</td></tr>
                       <tr><td>Applicatios: Audio and video telephony.</td><td> 
                       Applications: Speech and images.</td></tr>
                  </tbody>
            </table>
      </div>
  </div>
</div>
</div>
<script type="text/javascript">
      $('#accordion').accordion({
             collapsible: true,
              heightStyle: "content",
              icons: null,
              active: false
      });
</script>